.custom-calendar {
    background-color: white; /* Define o fundo do calendário como branco */
    color: black; /* Define a cor do texto como preto (ou a cor desejada) */
  }
/* Seu arquivo CSS (por exemplo, App.css) */
.centered-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height:fit-content; /* Isso garante que a div ocupe toda a altura da tela */
    background-color: #1A1A1A;
    border-radius: 20px;
    padding: 5px;

  }
.container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.button-opt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: transparent;
    color: #1ed760;
    width: 100px;
    border: 1px solid #1ed760;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-opt:hover{
    background-color: #1ed760;
    color: black;
    width: 100px;
    
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}
.button-opt:focus{
    background-color: #1ed760;
    color: black;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}
.filter-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.input-date{
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}
.input-date:focus-within{
    background-color:black;
    color: white;
}
span{
    padding-left: 10px;
}

.date-container {
    display: flex;
    justify-content: flex-start;
    /* Se você quiser que os itens também fiquem em uma linha (horizontalmente), você pode adicionar a propriedade 'flex-direction' como 'row' */
  }
  
  